Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema id="Hotels"
    targetNamespace="http://tempuri.org/Hotels.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Hotels.xsd"
    xmlns:mstns="http://tempuri.org/Hotels.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	
	
	<xs:element name="Hotels" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<!-- hotel in hotels -->
				<xs:element name="Hotel" maxOccurs="unbounded" nillable="false">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" nillable="false"/>
							<!-- unlimited phone numbers (1 or more) -->
							<xs:element name="Phone" type="xs:string" maxOccurs="unbounded" nillable="false"/>
							<xs:element name="Address" nillable="false">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:int" nillable="false" />
										<xs:element name="Street" type="xs:string" nillable="false" />
										<xs:element name="City" type="xs:string" nillable="false" />
										<xs:element name="State" type="xs:string" nillable="false" />
										<xs:element name="Zip" type="xs:int" nillable="false" />
									</xs:sequence>
									<!-- Airport is Required Attribute -->
									<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<!-- Rating Attribute is optional -->
						<xs:attribute name="Rating" type="xs:decimal" use="optional"/>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	
	
	
	
	
	
	
	
	
</xs:schema>
